*{  padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
      background: #d4d9d0;;
}
li,a,button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: #000;
}
li a{
    transition: all .2s ease 0s;
}
li a:hover{
 border-bottom: 3px solid rgb(8, 3, 15);
 font-size: 21px;
}
#list ul {
    list-style: none;
   display: inline-block;
   text-align: center;
}
#list ul li{
    display: inline-block;
    padding: 0px 30px;
    font-size: 20px;
}
#list ul a{
    text-decoration: none; 
}
#nav{
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px 10%;
}
#nav button{
    transition: all .8s ease 0s;
    padding: 10px;
    border-radius: 20%;
    background-color: rgb(207, 234, 234);
}
#head{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: 0ch;
    background-image: url(logo1.jpg);
    
    
}
h1 {
    text-align: center;
    margin: 35px 0 20px 0 !important;
  }
#mid{
    text-align: center;
    margin-top: 18vh;
}
#mid p{
    font-size: 25px;
    margin-left: 20%;
    width: 60%;
    margin-top: 10vh;

}
#nav button:hover{
background-color: aqua;
}
.h11{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0px 10px;
}
.container-img h2{
    text-align: center;
}
.container-img{
    margin-top: 20px;
}
.container-img img{
    width: 300px;
    height: 250px;
}
#foot{
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
}
#foot div{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
#foot li{
    list-style:none;
    text-align: center;
}
#foot li a{
    text-decoration: none;
    
}
#foot li a:hover{
    font-size: 17px;
    text-decoration: none;

}
#foot li:hover{
    cursor: pointer;
    transition: .5s;
    padding-left: 5px;
}
#foot ul{
    margin-top: 15px;
}
#foot input{
    height: 30px;
    width: 200px;
    border: none;
    margin-top: 15px;
    border-radius: 5%;
}
#foot button{
    height: 35px;
    transition: .5s;
    border-radius: 10%;
}
#foot button:hover{
   background-color: #6eb5ec;
}
footer{
    background-color: #cfc6c6;
}
footer div p{
    text-align: center;
}
#border{
  border: 2px solid black;
}
#foot button {
    margin-top: 10px;
    width: 50%;
    margin-left: 22.5%;
}
h3{
    text-align: center;
}
#smedia{
    text-align: center;
}
#smedia a{
    margin-top: 10px;
    font-size: 22px;
    transition: .5s;
}
.fa {
    padding: 5px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
.fa-facebook {
    width: 40%;
    margin-left: 30%;
    height: 30px;
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
    width: 40%;
    margin-left: 30%;
    height: 30px;
  }
.fa-instagram{
    width: 40%;
    margin-left: 30%;
    height: 30px;
    background:#E4405F;
    color: white;
}

@media only screen and (max-width:700px){
    #logo img{
        width: 60px;
        }
        #nav{
            padding: 5px 5px;
            }
            #list ul li{
                padding: 0px 10px;
                font-size: 15px;
            }
            #nav button{
                padding: 5px;
                border-radius: 10%;
            }
            #foot input{
                width: 150px;
            }
            @media only screen and (max-width:400px){
                #logo img{
                    width: 50px;
                    }
                    li a:hover{
                        font-size: 18px;
                       }
                    #nav{
                        padding: 3px 3px;
                        }
                        #list ul li{
                            padding: 0px 5px;
                            font-size: 14px;
                        }
                        #nav button{
                            padding: 5px;
                        }
                        #smedia a{
                            font-size: 16px;
                        }
                        h3{
                            font-size: 16px;
                        }
                        #foot input{
                            height: 30px;
                            width: 100px;
                            margin-top: 10px;
                           
                        }
                    
            }

}